<h1>WjmmK works! en su Aplicacion ANGULAR.</h1> <br>

<h4>▼ En este apartado se esta accediendo a las propiedades del Componente Personas.</h4> <br>

<h6>
  Nombre: {{nombrePersona}}
</h6>

<h6>
   Apellido: {{apellidoPersona}}
</h6>

<h6>
   Edad: {{edad}}
</h6>
<hr>
<!--
<label>Titulo Persona</label>
<input type="text" name="" id="" class="form-control"
       (input)="onModificarPersona($event)">

<h3>{{ tituloPersona }}</h3>

<div class="col">
    <h1>Listado de Personas</h1>
    <button class="btn btn-primary" [disabled]=agregarPersona (click)="onCrearPersona()">Agregar Persona</button>
</div>

<h3>{{ agregarPersonaStaus }}</h3>
<hr>
-->

<!-- Esta es otra forma de Implementar en codigo anterio. -->

<label>Titulo Persona</label>
<input type="text" name="" id="" class="form-control"
       [(ngModel)] = "tituloPersona">

<h3>{{ tituloPersona }}</h3>

<div class="col">
    <h1>Listado de Personas</h1>
    <button class="btn btn-primary" [disabled]=agregarPersona (click)="onCrearPersona()">Agregar Persona</button>
  </div>

<h3>{{ agregarPersonaStaus }}</h3>
<br>
<h4>▼ En este apartado se esta accediendo a las propiedades del Componente Persona.</h4>
<h6><app-persona></app-persona></h6>
